@import './styles/meyerReset.scss';
@import './styles/typography.scss';
@import './styles/header.scss';

body {
  --colour: #666;
  transition: background ease 1s;
  background: var(--colour); //fallback
}

.theme- {
  &day-clear {
    --colour: #368ee6;
    --avg-bg-colour: #c7d4f0;
    --text: #002341;
    color: var(--text);
    background: var(--avg-bg-colour); //fallback
    background-image: url(../src/assets/images/day-clear.jpg);
    background-size: cover;
  }
  &day-cloudy {
    --colour: #282a2c;
    --avg-bg-colour: #80858a;
    --text: #1d1d1d;
    color: var(--text);
    background: var(--avg-bg-colour); //fallback
    background-image: url(../src/assets/images/day-cloudy.jpg);
    background-size: cover;
  }
  &night {
    --colour: #085790;
    --avg-bg-colour: #343a4b;
    --text: #161f2e;
    color: var(--text);
    background: var(--avg-bg-colour); //fallback
    background-image: url(../src/assets/images/night.jpg);
    background-size: cover;
    header {
      color: #d0d5dc;
    }
  }
}

.wrapper {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.weather-report {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.item, .credits {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  min-height: 13rem;

  h2 {
    color: var(--colour);
    text-align: left;
    // width: 100%;
    margin-bottom: 1rem;
  }

  span {
    color: var(--colour);
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}

.item {
  p:first-of-type:not(.itemErrorText) {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
&.itemError {
  opacity: 0.6;
  background-color: #007ebdb3;
  
    >* {
      color: #000;
    }

  .itemErrorText {
    margin-top: 0.6rem;
    font-size: 1.2rem;
  }
}
}

.credits {
  span {
    margin-bottom: 1.5rem;
  }
  p:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}
