@import './styles/meyerReset.scss';
@import './styles/typography.scss';
@import './styles/header.scss';

.theme-day-clear { //wip concept
  --colour-rgb: 28, 146, 210;
  --colour: rgb(var(--colour-rgb));
  background: var(--colour); //fallback
  background: -webkit-linear-gradient(-140deg, #f2fcfe, var(--colour));
  background: linear-gradient(-140deg, #f2fcfe, var(--colour));
}

body {
  --colour-rgb: 28, 146, 210;
  --colour: rgb(var(--colour-rgb));
  background: var(--colour); //fallback
  background: -webkit-linear-gradient(-140deg, #f2fcfe, var(--colour));
  background: linear-gradient(-140deg, #f2fcfe, var(--colour));
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  
  .wrapper {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .weather-report {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-gap: 20px;
    width: 100%;
  }

  .item, .credits {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    min-height: 13rem;

    h2 {
      color: var(--colour);
      text-align: left;
      // width: 100%;
      margin-bottom: 1rem;
    }

    span {
      color: var(--colour);
      font-size: 5rem;
      margin-bottom: 1rem;
    }
  }

  .item {
    p:first-of-type {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }

  .credits {
    span {
      margin-bottom: 1.5rem;
    }
    p:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
}
